<html>
    <head>
        <title>To Do List</title>
    </head>
    <body>
        <h1>Welcome to To Do List</h1>

        <p><a href="/categories">Click here</a> to see all of the categories and to add a category.</p>
        <p><a href="/tasks">Click here</a> to see all of the tasks and to add a task.</p>
        
    </body>
</html>
